<!doctype html>
<html lang="en" ng-app="myneighborhood">
<head>
  <meta charset="utf-8">
  <title>My Neighborhood</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/nv.d3.css">
  <script src="//maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&language=en&v=3.17"></script>
  <script src="js/lodash.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/bluebird.js"></script>
  <script src="js/d3.js"></script>
  <script src="js/nv.d3.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-nvd3.js"></script>
  <script src="js/ui-bootstrap.js"></script>
  <script src="js/ui-utils.js"></script>
  <script src="js/angular-google-maps.js"></script>
  <script src="js/ngGeolocation.js"></script>
  <script src="js/app.js"></script>
  <script src="js/heat-layer.js"></script>
</head>
<body ng-controller="homeCtrl">
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="background-color:#00889b;padding-top:1px;padding-bottom: 5px">
	<h1 style="color: white; padding-left: 10px">My Neighborhood</h1>
</div>
  
	<form role="form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Zip Code" ng-model="zipcode">
			<select ng-model="category" ng-if="categories.length > 0" ng-options="category as category for category in categories"  ng-change="getComplaintData(category)"></select>
		</div>
	<div class="row-fluid">
	<div class="col-md-8" google-map="exp" center="map.center" pan="true" zoom="map.zoom"></google-map>
    <layer namespace="visualization" type="HeatmapLayer" show="true" onCreated="map.heatLayerCallback"></layer>

	</div>
   <div class="col-md-4"><h3>Categories</h3>
    <nvd3 options="chartoptions" data="piedata"></nvd3>
  <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-colorscheme="light"></div>
</div>

</body>
</html>